
<% include _header %>


<%# Starting my form here so as to be able to access anything on the page when sending a POST req %>
<form action="/testForm" method="post"> 

<%#  this is the main div for the index page  %>
<div class="container">

	<%#  I would like my courses table to cover 9/12 of the container  %>
	<div class="col-md-9">

		<%#  These are the different sections for adding courses  %>	
		<h3>Freshman Year</h3>
			<h4>Freshman Semester #1</h4>
			<ul>
				<% for(var i = 0; i < freshOne.length; i++) {%>
		  			<li><%= freshOne[i] %></li>
		  		<%}%>	
			</ul>
			<h4>Freshman Semester #2</h4>
			<ul>
				<% for(var i = 0; i < freshTwo.length; i++) {%>
		  			<li><%= freshTwo[i] %></li>
		  		<%}%>	
			</ul>

		<h3>Sophomore Year</h3>
			<h4>Sophomore Semester #1</h4>
			<ul>
				<% for(var i = 0; i < sophOne.length; i++) {%>
		  			<li><%= sophOne[i] %></li>
		  		<%}%>	
			</ul>
			<h4>Sophomore Semester #2</h4>
			<ul>
				<% for(var i = 0; i < sophTwo.length; i++) {%>
		  			<li><%= sophTwo[i] %></li>
		  		<%}%>	
			</ul>

		<h3>Junior Year</h3>
			<h4>Junior Semester #1</h4>
			<ul>
				<% for(var i = 0; i < junOne.length; i++) {%>
		  			<li><%= junOne[i] %></li>
		  		<%}%>	
			</ul>
			<h4>Junior Semester #2</h4>
			<ul>
				<% for(var i = 0; i < junTwo.length; i++) {%>
		  			<li><%= junTwo[i] %></li>
		  		<%}%>	
			</ul>

		<h3>Senior Year</h3>
			<h4>Senior Semester #1</h4>
			<ul>
				<% for(var i = 0; i < senOne.length; i++) {%>
		  			<li><%= senOne[i] %></li>
		  		<%}%>	
			</ul>
			<h4>Senior Semester #2</h4>
			<ul>
				<% for(var i = 0; i < senTwo.length; i++) {%>
		  			<li><%= senTwo[i] %></li>
		  		<%}%>	
			</ul>

		<h3>Extension</h3>
			<h4>Extra Semester #1</h4>
			<ul>
				<% for(var i = 0; i < extraOne.length; i++) {%>
		  			<li><%= extraOne[i] %></li>
		  		<%}%>	
			</ul>
			<h4>Extra Semester #2</h4>
			<ul>
				<% for(var i = 0; i < extraTwo.length; i++) {%>
		  			<li><%= extraTwo[i] %></li>
		  		<%}%>	
			</ul>
			<h4>Extra Semester #3</h4>
			<ul>
				<% for(var i = 0; i < extraThree.length; i++) {%>
		  			<li><%= extraThree[i] %></li>
		  		<%}%>	
			</ul>
			<h4>Extra Semester #4</h4>
			<ul>
				<% for(var i = 0; i < extraFour.length; i++) {%>
		  			<li><%= extraFour[i] %></li>
		  		<%}%>	
			</ul>

	</div> <%#  end of col-md-9 div  %>
	
	<%#  This part is for the form that populates the sections to the left. We would like it be on 3/12 of the container  %>
	<div class="col-md-3">

		<h3>Add a course by code</h3>
		<h4>Choose where to Insert</h4>
		<select name="section" class="form-control">
			<option value="freshOne">Freshman #1</option>
			<option value="freshTwo">Freshman #2</option>
			<option value="sophOne">Sophomore #1</option>
			<option value="sophTwo">Sophomore #2</option>
			<option value="junOne">Junior #1</option>
			<option value="junTwo">Junior #2</option>
			<option value="senOne">Senior #1</option>
			<option value="senTwo">Senior #2</option>
			<option value="extraOne">Extra #1</option>
			<option value="extraTwo">Extra #2</option>
			<option value="extraThree">Extra #3</option>
			<option value="extraFour">Extra #4</option>
		</select>

		<h4>Choose the Year and Semester</h4>

		<select name="year" class="form-control">
			<option>2010</option>
			<option>2011</option>
			<option>2012</option>
			<option>2013</option>
			<option>2014</option>
			<option>2015</option>
			<option>2016</option>
			<option>2017</option>
			<option>2018</option>
			<option>2019</option>
			<option>2020</option>
			<option>2021</option>
			<option>2022</option>
			<option>2023</option>
			<option>2024</option>
		</select>

		<select name="sem" class="form-control">
		  <option>Spring</option>
		  <option>Fall</option>
		</select>

		<h4>Course code</h4>

			<input name="code" type="text" class="form-control" placeholder="Code" required autofocus>
			<input type="submit" value="Add" class="btn btn-primary btn-block">

	</div> <%#  end of col-md-3 div %>

</div> <%#  end of the container div  %>

</form> <%#  the end of FORM  %>


<% include _footer%>
