
<% include _header %>





<%# Starting my form here so as to be able to access anything on the page when sending a POST req %>
<form action="/testForm" method="post"> 

<%#  This part is for the form that populates the sections to the left. We would like it be on 3/12 of the container  %>
<div class="col-md-3">
	<h4>Add a course</h4>
	<div class="form-group">
	  <div class="input-group">
	    <span class="input-group-addon">Semester:</span>

	    <select name="section" id="semesterSelect" class="form-control semesterPicker">
	    	<% for (var i = 0; i < semcodes.length; i++) {%>
				<%if (semcodes[i] == currSem) {%>
					<option value="<%= semcodes[i]%>" selected><%= semtitles[i]%></option>	
				<%} else {%>
					<option value="<%= semcodes[i]%>"><%= semtitles[i]%></option>
				<%}%>
	    	<%}%>
	    </select>
	  </div>  
	</div>

	<div class="form-group">
	  <div class="input-group">
	    <input name="code" type="text" class="form-control" id="addcourseinp" placeholder="Code or title" required autofocus>
	    <span class="input-group-btn">
	      <button id="addCourseButton" class="btn btn-primary btn-block" type="submit">Add</button>
	    </span>
	  </div>
	</div>
</form> <%#  the end of FORM  %>
	
<div class="col-xs-12"><hr></div>

<h4>Requirements </h4>
<div class="major-declared">
	<span>Major: <%= majorTitle%></span> <br>
	<span>Entrance year: <%= majorYear%></span>
</div>
<br>
<div class="requirements">  

<table class="requirements-table table table-bordered">
	<tr>
		<th colspan="3">
			<span class="mini-req-title">Major Required</span> <span class="mini-credit-count">6 / 21 credits</span>
		</th>
	</tr>
	<% for(var i = 1; i < majorCourses.length; i+=3)  {%>
		<tr>
			<%if (freshOne.includes(majorCourses[i]) || freshTwo.includes(majorCourses[i]) || sophOne.includes(majorCourses[i]) || sophTwo.includes(majorCourses[i]) || junOne.includes(majorCourses[i]) || junTwo.includes(majorCourses[i]) || senOne.includes(majorCourses[i]) || senTwo.includes(majorCourses[i]) || extraOne.includes(majorCourses[i])) {%>
				<td><b><s><%=majorCourses[i]%></s></b></td>
			<%} else {%>
				<td><%=majorCourses[i]%></td>
			<%}%>
			<%if (freshOne.includes(majorCourses[i+1]) || freshTwo.includes(majorCourses[i+1]) || sophOne.includes(majorCourses[i+1]) || sophTwo.includes(majorCourses[i+1]) || junOne.includes(majorCourses[i+1]) || junTwo.includes(majorCourses[i+1]) || senOne.includes(majorCourses[i+1]) || senTwo.includes(majorCourses[i+1]) || extraOne.includes(majorCourses[i+1])) {%>
				<td><b><s><%=majorCourses[i+1]%></s></b></td>
			<%} else {%>
				<td><%=majorCourses[i+1]%></td>
			<%}%>
			<%if (freshOne.includes(majorCourses[i+2]) || freshTwo.includes(majorCourses[i+2]) || sophOne.includes(majorCourses[i+2]) || sophTwo.includes(majorCourses[i+2]) || junOne.includes(majorCourses[i+2]) || junTwo.includes(majorCourses[i+2]) || senOne.includes(majorCourses[i+2]) || senTwo.includes(majorCourses[i+2]) || extraOne.includes(majorCourses[i+2])) {%>
				<td><b><s><%=majorCourses[i+2]%></s></b></td>
			<%} else {%>
				<td><%=majorCourses[i+2]%></td>
			<%}%>
		</tr>
	<%}%>
</table>

<table class="requirements-table table table-bordered ">
	<tr>
		<th colspan="3">
			<span class="mini-req-title">Major Elective</span> <span class="mini-credit-count">6 / 21 credits</span>

		</th>
	</tr>
	<% for(var i = 1; i < majorCourses.length; i+=3)  {%>
		<tr>
			<%if (freshOne.includes(majorCourses[i]) || freshTwo.includes(majorCourses[i]) || sophOne.includes(majorCourses[i]) || sophTwo.includes(majorCourses[i]) || junOne.includes(majorCourses[i]) || junTwo.includes(majorCourses[i]) || senOne.includes(majorCourses[i]) || senTwo.includes(majorCourses[i]) || extraOne.includes(majorCourses[i])) {%>
				<td><b><s><%=majorCourses[i]%></s></b></td>
			<%} else {%>
				<td><%=majorCourses[i]%></td>
			<%}%>
			<%if (freshOne.includes(majorCourses[i+1]) || freshTwo.includes(majorCourses[i+1]) || sophOne.includes(majorCourses[i+1]) || sophTwo.includes(majorCourses[i+1]) || junOne.includes(majorCourses[i+1]) || junTwo.includes(majorCourses[i+1]) || senOne.includes(majorCourses[i+1]) || senTwo.includes(majorCourses[i+1]) || extraOne.includes(majorCourses[i+1])) {%>
				<td><b><s><%=majorCourses[i+1]%></s></b></td>
			<%} else {%>
				<td><%=majorCourses[i+1]%></td>
			<%}%>
			<%if (freshOne.includes(majorCourses[i+2]) || freshTwo.includes(majorCourses[i+2]) || sophOne.includes(majorCourses[i+2]) || sophTwo.includes(majorCourses[i+2]) || junOne.includes(majorCourses[i+2]) || junTwo.includes(majorCourses[i+2]) || senOne.includes(majorCourses[i+2]) || senTwo.includes(majorCourses[i+2]) || extraOne.includes(majorCourses[i+2])) {%>
				<td><b><s><%=majorCourses[i+2]%></s></b></td>
			<%} else {%>
				<td><%=majorCourses[i+2]%></td>
			<%}%>
		</tr>
	<%}%>
</table>

<table class="requirements-table table table-bordered">
	<tr>
		<th colspan="3"><span class="mini-req-title">Basic Elective</span> <span class="mini-credit-count">6 / 21 credits</span>
</th>
	</tr>
	<% for(var i = 1; i < majorCourses.length; i+=3)  {%>
		<t>
			<%if (freshOne.includes(majorCourses[i]) || freshTwo.includes(majorCourses[i]) || sophOne.includes(majorCourses[i]) || sophTwo.includes(majorCourses[i]) || junOne.includes(majorCourses[i]) || junTwo.includes(majorCourses[i]) || senOne.includes(majorCourses[i]) || senTwo.includes(majorCourses[i]) || extraOne.includes(majorCourses[i])) {%>
				<td><b><s><%=majorCourses[i]%></s></b></td>
			<%} else {%>
				<td><%=majorCourses[i]%></td>
			<%}%>
			<%if (freshOne.includes(majorCourses[i+1]) || freshTwo.includes(majorCourses[i+1]) || sophOne.includes(majorCourses[i+1]) || sophTwo.includes(majorCourses[i+1]) || junOne.includes(majorCourses[i+1]) || junTwo.includes(majorCourses[i+1]) || senOne.includes(majorCourses[i+1]) || senTwo.includes(majorCourses[i+1]) || extraOne.includes(majorCourses[i+1])) {%>
				<td><b><s><%=majorCourses[i+1]%></s></b></td>
			<%} else {%>
				<td><%=majorCourses[i+1]%></td>
			<%}%>
			<%if (freshOne.includes(majorCourses[i+2]) || freshTwo.includes(majorCourses[i+2]) || sophOne.includes(majorCourses[i+2]) || sophTwo.includes(majorCourses[i+2]) || junOne.includes(majorCourses[i+2]) || junTwo.includes(majorCourses[i+2]) || senOne.includes(majorCourses[i+2]) || senTwo.includes(majorCourses[i+2]) || extraOne.includes(majorCourses[i+2])) {%>
				<td><b><s><%=majorCourses[i+2]%></s></b></td>
			<%} else {%>
				<td><%=majorCourses[i+2]%></td>
			<%}%>
		</tr>
	<%}%>
</table>


<span class="total-credits"> Total: </span> <span class="credit-count">124 / 130</span>


</div>
</div> <%#  end of col-md-3 div %>




<%#  this is the main div for the index page  %>
<%#  I would like my courses table to cover 9/12 of the container  %>
<div class="col-md-9">

<%#  Freshman 1 and 2  %>
<div class="col-md-6">
	
	<%# Fresh1%>
	<!-- <form action="courseDelete" method="post"> -->
	<div class="col-md-6">
		<div class="freshOne">
			<span class="semtitle">Freshman 1</span>  
			<table class="table table-condensed">
				<% for(var i = 0; i < freshOne.length; i++) {%>
					<tr>
				      <td>
				        <div class="md-chip">
				          <span class="ccode">[<%= freshOne[i] %>]</span>
				        </div>
				      </td>
				      <td><button type="submit" class="md-chip-remove"></button></td>
				    </tr>
		  		<%}%>
			</table>			
		</div>


	</div><%# END Fresh1%>
	<!-- </form> -->
	<%# Fresh2%>
	<div class="col-md-6">
	<div class="freshTwo">
		<span class="semtitle">Freshman 2</span>  
		<table class="table table-condensed">
			<% for(var i = 0; i < freshTwo.length; i++) {%>
				<tr>
			      <td>
			        <div class="md-chip">
			          <span class="ccode">[<%= freshTwo[i] %>]</span>
			        </div>
			      </td>
			      <td><button type="button" class="md-chip-remove"></button></td>
			    </tr>
	  		<%}%>
		</table>
	</div>

	</div> <%# END Fresh1%>

</div><%# END Freshman 1 and 2  %>



<%# Sophomore 1 and 2%>
<div class="col-md-6">
	<%# Soph 1%>
	<div class="col-md-6">
	<div class="sophOne">
		<span class="semtitle">Sophomore 1</span>  
		<table class="table table-condensed">
			<% for(var i = 0; i < sophOne.length; i++) {%>
				<tr>
			      <td>
			        <div class="md-chip">
			          <span class="ccode">[<%= sophOne[i] %>]</span>
			        </div>
			      </td>
			      <td><button type="button" class="md-chip-remove"></button></td>
			    </tr>
	  		<%}%>
		</table>
	</div>

	</div><%# END Soph 1%>
	
	<%# Soph 2%>
	<div class="col-md-6">
	<div class="sophTwo">
		<span class="semtitle">Sophomore 2</span>  
		<table class="table table-condensed">
			<% for(var i = 0; i < sophTwo.length; i++) {%>
				<tr>
			      <td>
			        <div class="md-chip">
			          <span class="ccode">[<%= sophTwo[i] %>]</span>
			        </div>
			      </td>
			      <td><button type="button" class="md-chip-remove"></button></td>
			    </tr>
	  		<%}%>
		</table>		
	</div>


	</div><%# END Soph 2%>


</div><%# END Sophomore 1 and 2%>



<div class="col-xs-12"><hr></div>

<%#  jun 1 and 2  %>
<div class="col-md-6">
	
	<%# jun1%>
	<div class="col-md-6">
	<div class="junOne">
		<span class="semtitle">Junior 1</span>  
		<table class="table table-condensed">
			<% for(var i = 0; i < junOne.length; i++) {%>
				<tr>
			      <td>
			        <div class="md-chip">
			          <span class="ccode">[<%= junOne[i] %>]</span>
			        </div>
			      </td>
			      <td><button type="button" class="md-chip-remove"></button></td>
			    </tr>
	  		<%}%>
		</table>		
	</div>


	</div><%# END jun1%>

	<%# jun2%>
	<div class="col-md-6">
	<div class="junTwo">
		<span class="semtitle">Junior 2</span>  
		<table class="table table-condensed">
			<% for(var i = 0; i < junTwo.length; i++) {%>
				<tr>
			      <td>
			        <div class="md-chip">
			          <span class="ccode">[<%= junTwo[i] %>]</span>
			        </div>
			      </td>
			      <td><button type="button" class="md-chip-remove"></button></td>
			    </tr>
	  		<%}%>
		</table>		
	</div>


	</div> <%# END junior 2%>

</div><%# END junior 1 and 2  %>



<%# sen 1 and 2%>
<div class="col-md-6">
	<%# sen 1%>
	<div class="col-md-6">
	<div class="senOne">
		<span class="semtitle">Senior 1</span>  
		<table class="table table-condensed">
			<% for(var i = 0; i < senOne.length; i++) {%>
				<tr>
			      <td>
			        <div class="md-chip">
			          <span class="ccode">[<%= senOne[i] %>]</span>
			        </div>
			      </td>
			      <td><button type="button" class="md-chip-remove"></button></td>
			    </tr>
	  		<%}%>
		</table>		
	</div>

	</div><%# END sen 1%>
	
	<%# sen 2%>
	<div class="col-md-6">
	<div class="senTwo">
		<span class="semtitle">Senior 2</span>  
		<table class="table table-condensed">
			<% for(var i = 0; i < senTwo.length; i++) {%>
				<tr>
			      <td>
			        <div class="md-chip">
			          <span class="ccode">[<%= senTwo[i] %>]</span>
			        </div>
			      </td>
			      <td><button type="button" class="md-chip-remove"></button></td>
			    </tr>
	  		<%}%>
		</table>		
	</div>


	</div><%# END Senior 2%>


</div><%# END Senior 1 and 2%>


<div class="col-xs-12"><hr></div>


<div class="col-md-6">
	<%# sen 1%>
	<div class="col-md-6">
	<div class="extraOne">
		<span class="semtitle">Extra Semester</span>  
		<table class="table table-condensed">
			<% for(var i = 0; i < extraOne.length; i++) {%>
				<tr>
			      <td>
			        <div class="md-chip">
			          <span class="ccode">[<%= extraOne[i] %>]</span>
			        </div>
			      </td>
			      <td><button type="button" class="md-chip-remove"></button></td>
			    </tr>
	  		<%}%>
		</table>		
	</div>

	</div><%# END sen 1%>
	
	<%# sen 2%>
	<div class="col-md-6">
	<div class="extra2">		
	</div>


	</div><%# END Senior 2%>


</div><%# END Senior 1 and 2%>



</div> <%#  end of col-md-9 div  %>

</div> <%#  end of the container div  %>




<script src="jquery/js/jquery-1.9.0.min.js"></script>
<script src="jquery/js/jquery-ui-1.10.0.custom.min.js"></script>
<script src="/javascript/cr.js"></script>
<script src="/javascript/courses_list.js"></script>


<% include _footer%>
